music/.env
__pycache__/current_events.cpython-313.pyc
__pycache__/music.cpython-313.pyc
__pycache__/pyttsx3_voice.cpython-313.pyc
__pycache__/sports.cpython-313.pyc
__pycache__/voice.cpython-313.pyc
__pycache__/weather.cpython-313.pyc
current_events/__pycache__/current_events.cpython-313.pyc
music/__pycache__/music.cpython-313.pyc
music/__pycache__/spotify_utils.cpython-313.pyc
music/__pycache__/validification.cpython-313.pyc
sports/__pycache__/sports.cpython-313.pyc
weather/__pycache__/weather.cpython-313.pyc
output.wav
__pycache__/voice.cpython-313.pyc
.cache
__pycache__/voice.cpython-313.pyc
output.wav
__pycache__/voice.cpython-313.pyc
.DS_Store
